﻿@page "/salleattente"

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers
@model BlazorServer.Pages.SalleAttenteModel
@{

    
}
<div> C'est'
    <label asp-for="Form.Title"></label>
    <input asp-for="Form.Title" />
@foreach (var forecast in Model.Form.Data) {
        <a asp-for="Form.Title">sdsd</a>
}
</div>

